3rd[Pp]arty/
backup/
build/
cache/
temp/
test/
tmp/

apidoc/*
js/dist/*
locale/*
nbproject/*
node_modules/*
themes/*
vendor/*

[.$~]*
!.git*
*[.-]cache
/config.inc.php
[Dd]esktop.ini
phpcs.xml
phpunit.xml
revision-info.php
[Tt]umbs.db
web.config

*.*_
*.[_$~]*
*.[7bglx]z
*.[ab]r
*.asc
*.[bp]ak
*.bin
*.bz2
*.ca[bt]
*.*[Cc]ache
*.cachefile
*.ch[kmw]
*.cpio
*.*deb
*.[dejrstwx]ar
*.diff
*.dll
*.docstates
*.doctree
*.ds[pw]
*.dylib
*.exe
*.filters
*.[ip]db
*.ipdb
*.inv
*.lastbuildstate
*.launch
*.l[cn]k
*.liz
*.local
*.lock
*.*log
*.*lz
*.lz[2-5hx]
*.map
*.ms[impu]
*.[mv]six
*.mo
*.n[ci]b
*.new
*.old
*.orig
*.opendb
*.opensdf
*.o[pu]t
*.*pack
*.patch
*.phar
*.pi[df]
*.pidb
*.*pkg
*.postbuild
*.*proj
*.projdata
*.*project
*.properties
*.psess
*.py[cdox]
*.rpm
*.[rv]sp
*.s[7q]z
*.sigstore
*.sln
*.so
*.suo
*.sw[op]
*.t[abgpx]z
*.targets
*.tbz?
*.*tmp
*.*user
*.userprefs
*.[Vv][Cc].db
*.vc[npw]
*.vlb
*.vs[ps]scc
*.vspx
*.*zip
*.*zip?
*.*zst
*.*zstd